{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
{% if groups %}
    <div class="profile__items">
        <div class="profile__item profileTable">
            <table>
                {% for dict in groups %}
                    <tr>
                        <td>{{ dict.id }}</td>
                        <td>{{ dict.title }}</td>
                        <td>{{ dict.specialization }}</td>
                        <td>{{ dict.course_number }}</td>
                        <td>{{ dict.creator }}</td>
                        <td>{{ dict.created_at }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% else %}
    <div class="profile__nickname">Список групп пуст</div>
{% endif %}
{% endblock %}
