<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Profile</title>
</head>
<body>
    <div class="profile">
        <div class="profile__info">
            <img class="profile__img" src="{{ user.avatar_url }}" alt="profileImg">
            <div class="profile__nickname">👨‍🎓{{user.username}}</div>
            <div class="profile__nickname">{{user.role}}</div>
            <div class="profile__name">{{user.full_name}}</div>
            <div class="profile__date">
                {{user.created_at}}
            </div>
        </div>
        <div class="profile__items">
            <div class="profile__item profileTable">
                <table>
                    {% for dict in groups %}
                    <tr>
                        <td>{{ dict.id }}</td>
                        <td>{{ dict.title }}</td>
                        <td>{{ dict.specialization }}</td>
                        <td>{{ dict.course_number }}</td>
                        <td>{{ dict.creator }}</td>
                        <td>{{ dict.created_at }}</td>
                    </tr>
                    {% endfor %}
                </table>                
            </div>
        </div>
        <div class="profile__creator">
            <span>by</span> PolinaScrbbs
        </div>
    </div>
</body>
</html>