<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>{% block title %}Profile{% endblock %}</title>
</head>
<body>
    <div class="profile">
		<div class="profile__info">
			<img class="profile__img" src="{{ user.avatar_url }}" alt="profileImg">
			<div class="profile__nickname"><span title="{{ user.role }}">{{emoji}}</span>{{user.username}}</div>
			<div class="profile__name">{{user.full_name}}</div>
			<div class="profile__date">
				{{user.created_at}}
			</div>
		</div>
        {% block content %}
        {% endblock %}
        <div class="profile__creator">
            <span>by</span> PolinaScrbbs
        </div>
    </div>
</body>
</html>