{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile__info">
    <img class="profile__img" src="{{ user.avatar_url }}" alt="profileImg">
    <div class="profile__nickname">🦸🏼‍♀️{{user.username}}</div>
    <div class="profile__nickname">{{user.role}}</div>
    <div class="profile__name">{{user.full_name}}</div>
    <div class="profile__date">
        {{user.created_at}}
    </div>
</div>

{% if not user.group_id %}
    <div class="profile__nickname">В группе не состоит</div>
{% else %}
<div class="profile__items">
    <div class="profile__item profileGroup">
        <div class="profileGroup__top">
            <div>{{group.title}}</div>
            <div>{{group.course_number_roman}}</div>
        </div>
        <div class="profileGroup__spec">
            {{group.specialization}}
        </div>
        <div class="profileGroup__bottom">
            <div class="profileGroup__date">{{group.created_at}}</div>
            <div class="profileGroup__role">
                Создатель
            </div>
        </div>
    </div>
    <div class="profile__item profileTable">
        <table>
            {% for dict in students %}
            <tr>
                <td>{{ dict.student.id }}</td>
                <td>{{ dict.student.username }}</td>
                <td>{{ dict.student.full_name }}</td>
                <td>{{ dict.student.last_duty }}</td>
                <td>{{ dict.student.duties_count }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% endblock %}